/* style */

@import '../reset/reset';
@import '../reset/normalize';

@import 'mixins';

body {
	font-family: Helvetica, sans-serif;
}

div {
	border: 1px solid #000;
}

.navbar,
.navbar .logo-container,
.navbar .nav-form-container,
.search-container {
	@include container;
}

.navbar {

	.logo-container {
		padding-left: 10px;
		float: left;

		img {
			width: 45px;
			height: 45px;
		}

		h2{
			font-size: 24px;
			display: inline-block;
		}

		img,
		h2 {
			vertical-align: middle;
		}
	}

	.nav-form-container {
		float: right;

		.button {
			font-size: 24px;
			text-align: center;
			width: 195px;
			display: inline-block;
		}
	}

	.logo-container,
	.nav-form-container .button {
		line-height: 70px;
	}
}

.search-container {
	margin: 30px auto;
	width: 640px;

	input {
		padding: 2px;
	}

	.search-bar,
	.search-submit {
		font-size: 24px;
		line-height: 34px;
		border: 1px solid #999;
	}

	.search-bar {
		text-indent: 1em;
		width: 456px;
	}

	.search-submit {
		width: 136px;
		margin-left: 16px;
	}
}

.cta-button {
	font-weight: bold;
	color: #fff;
	background: #2b78e4;
}